
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/images/LOGOTQ-removebg-preview.png" type="">
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">
    <title>TQ Perfume - Sản Phẩm</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/Link/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/Link/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Link/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/Link/css/responsive.css" rel="stylesheet" />

    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>


    <script src="/Content/js/main.js"></script>
    <script src="/Content/js/simpleCart.min.js"></script>

</head>
<body>
    <div class="header" style="border: none">
        @Html.Partial("/Views/Layout/Header.cshtml")
        <div class="container">
            <div class="head-top">
                @*<div class="logo">
            <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/LOGOTQ-removebg-preview.png" alt="" width="250px" alt=""></a>
        </div>*@
                @*<div class="search" style="border: 1px solid black;height: 28px">
            <form>
                <input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="submit">
            </form>
        </div>*@
                <div class="search" style="border: 0.3px solid black;height: 28px;margin-left: 10%">
                    @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
                    {
                        <input type="text" placeholder="Nhập sản phẩm......." name="sTuKhoa">
                        <input type="submit" value="Tìm kiếm">
                    }
                </div>
                @Html.Action("MenuPartial", "Home")
            </div>

        </div>
    </div>
    <div class="container">
        <div class="grid-in">
            @RenderBody()
            <div class="clearfix"></div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="full">
                        <div class="logo_footer">
                            <a href="#"><img width="300" src="~/Content/images/LOGO.jpg" alt="#" /></a>
                        </div>
                        <div class="information_f">
                            <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                            <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                            <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Menu</h3>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Account</h3>
                                        <ul>
                                            <li><a href="https://localhost:44390/HomeAdmin/Index">Admin</a></li>
                                            <li><a href="#">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Register</a></li>
                                            <li><a href="#">Shopping</a></li>
                                            <li><a href="#">Widget</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="widget_menu">
                                <h3>Newsletter</h3>
                                <div class="information_f">
                                    <p>Subscribe by our newsletter and get update protidin.</p>
                                </div>
                                <div class="form_sub">
                                    <form>
                                        <fieldset>
                                            <div class="field">
                                                <input type="email" placeholder="Enter Your Mail" name="email" />
                                                <input type="submit" value="Subscribe" />
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- jQery -->

    <script src="/Link/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/Link/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/Link/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/Link/js/custom.js"></script>
</body>
</html>
